<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
   <diagramSynthesis
         class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.klassviz.synthesis.ClassDataDiagramSynthesis"
         id="de.cau.cs.kieler.klassviz.ClassDataDiagramSynthesis">
   </diagramSynthesis>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="de.cau.cs.kieler.klassviz.generateKlassVizFile"
               icon="icons/class.gif"
               label="Generate class diagram file from selection"
               style="push"
               tooltip="Automatically generate a class diagram file containing the selected classes and members.">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.jdt.core.IJavaElement">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.cau.cs.kieler.klassviz.handlers.GenerateKlassVizFileHandler"
            id="de.cau.cs.kieler.klassviz.generateKlassVizFile"
            name="Generate class diagram file from selection">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.cau.cs.kieler.klassviz.handlers.ContainsStoredSelectionTester"
            id="de.cau.cs.kieler.klassviz.StoredSelectionTester"
            namespace="de.cau.cs.kieler.klassviz"
            properties="containsStoredSelection"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.ui.view.editor">
      <editor
            controllerID="de.cau.cs.kieler.klighd.ui.view.controllers.XtextChangeUpdateController"
            editorID="de.cau.cs.kieler.klassviz.text.ClassData">
      </editor>
   </extension>

</plugin> 
